@tailwind base;

@font-face {
    font-family: "Gilroy";
    font-display: swap;
    src: url("./../fonts/Gilroy-Bold.woff2");
    font-weight: 700;
    font-style: normal;
}

@tailwind components;
@tailwind utilities;

.app-state {
    @apply absolute inset-0 h-full w-full transition-opacity duration-300 bg-gray-100 rounded-r-3xl  flex items-center justify-center;
}

.state-active {
    pointer-events: initial;
    opacity: 1;
}

.state-inactive {
    pointer-events: none;
    opacity: 0;
}

.invisible {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

#entry-wrapper:not(:has(> .entry)) {
    display: none;
}

#entry-wrapper:has(> .entry) {
    display: block;
}

/** Style the 'focus on' filter **/
input[name^="lens_"]:checked + label > .check {
    opacity: 1;
}

input[name^="lens_"]:not(:checked) + label > .check {
    opacity: 0;
}

input[name^="lens_"]:checked + label[for="lens_technical"] {
    @apply border-technical;
}

input[name^="lens_"]:checked + label[for="lens_governance"] {
    @apply border-governance;
}

input[name^="lens_"]:checked + label[for^="lens_"] > .at-technical,
input[name^="lens_"]:checked + label[for^="lens_"] > .at-governance {
    color: white;
}

label[for^="activity_"].inactive {
    background: #ffffff !important;
    color: theme("colors.gray.500") !important;
}

#entry-loader {
    opacity: 0;
    transition: opacity 500ms ease-in;
}

#entry-loader.loading-entry {
    opacity: 1;
}

[data-toggle="off"] {
    @apply bg-gray-200;
}

[data-toggle="off"] > span {
    @apply translate-x-0;
}

[data-toggle="on"] {
    @apply bg-emerald-600;
}

[data-toggle="on"] > span {
    @apply translate-x-5;
}

#entrygroups.hovered [data-sum]:not(.active) {
    opacity: 0.25;
}

#entrygroups.hovered [data-sum].active > .entry-logo {
    @apply border border-emerald-600;
}

#entrygroups.hovered .intervention-type:not(:has(+ div > [data-sum].active)) {
    opacity: 0.25;
}
