.prose h2 {
    margin-top: 2em;
    margin-bottom: 1em;
    font-family: theme('fontFamily.display');
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.33333;
}

.prose h3 {
    margin-top: 1.6em;
    margin-bottom: .6em;
    font-size: 1.25em;
    font-family: theme('fontFamily.display');
    font-weight: 600;
    line-height: 1.6;
}

.prose p {
    max-width: 65ch;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
}

.prose a {
    font-weight: 500;
    text-decoration: underline;
}

.prose ul, .prose ol {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    padding-left: 1.625em;
}

.prose ul {
    list-style-type: disc;
}

.prose ol {
    list-style-type: decimal;
}

.prose li {
    padding-left: .375em;
    margin-top: .5em;
    margin-bottom: .5em;
}

.prose li > :last-child {
    margin-bottom: 1.25em;
}

.prose li > :first-child {
    margin-top: 1.25em;
}
